{
    "all": true,
    "include": ["library/src/*.js"],
    "exclude": ["tests/", "library/src/.include"],
    "reporter": ["text", "lcov"],
    "report-dir": "coverage",
    "check-coverage": true,
    "branches": 0,
    "lines": 0,
    "functions": 0,
    "statements": 0
}
