{
    "check-coverage": true,
    "all": true,
    "include": [
        "library/src/**/*.js"
    ],
    "exclude": [
        "tests/",
        "library/src/.internal/"
    ],
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage"
}
